<h1 class="text-center mt-5"> {{ categoryDetails.name }} movies</h1>
<h3 class="mt-5"> You should know about the {{ categoryDetails.name }} genre:</h3>

<p> {{ categoryDetails.description }} </p>

<h3 class="mt-5">Featured content:</h3>

<div class="row mb-3">
  <!--
  <app-movie-card *ngFor=" let product of listOfCategorizedProducts | featured:'true' | numberrandom:5 " [movie] = "product"></app-movie-card>
  -->

  <app-movie-card *ngFor=" let product of allProduct$ | async | featured:'true' | numberrandom:5 " [movie] = "product"></app-movie-card>
</div>


<label>Search movie:</label>
<input type="text" class="form-control" [(ngModel)]="keyword">

<h3 class="mt-5">All movies available in {{ categoryDetails.name }} genre:</h3>

<div class="row">
  <table class="table table-striped mt-3">
    <thead>
      <tr>
        <th (click)="onColumnSelect('id')">#</th>
        <th (click)="onColumnSelect('name')">Name</th>
        <th>Category</th>
        <th (click)="onColumnSelect('featured')">Featured</th>
      </tr>
    </thead>
    <tbody>
      <!--
      <tr *ngFor=" let product of listOfCategorizedProducts | sorter:columnKey:sortDirection |filter:keyword:'name'">
        {{ allProduct$ | async | filter:'1':'catId' | json}}
       -->
      <tr *ngFor=" let product of allProduct$ | async | filter:'4':'catId' | sorter:columnKey:sortDirection | filter:keyword:'name'">
        <td>{{ product.id }}</td>
        <td>{{ product.name }}</td>
        <td>{{ product.catId }}</td>
        <td>{{ product.featured }}</td>
      </tr>
    </tbody>

  </table>
</div>
