<h1 class="text-center mt-4"> {{ categoryDetails.name }} movies</h1>
<h3 class="mt-4"> You should know about the {{ categoryDetails.name }} genre:</h3>

<p> {{ categoryDetails.description }} </p>

<h3 class="mt-4 ml-3">Featured content in {{ categoryDetails.name }} genre</h3>

<div class="row mt-3 mb-5">
  <app-movie-pager [productList]="allProduct$ | async | filter:'4':'catId' | featured:'true'  | slice:0:5"></app-movie-pager>
</div>

<!-- <div class="row">
  <div class="col-6 ml-4 mr-3">
    <h3 *ngIf="!keyword">All movies available in {{ categoryDetails.name }} genre:</h3>
    <h3 *ngIf="keyword">Movies you searched for:</h3>
  </div>
  <div class="ml-5 col-2 text-right pr-1">
    <h5 class="mb-0 pt-1">Search movie:</h5>
  </div>
  <div class="col-3 pl-1">
    <input type="text" class="form-control" [(ngModel)]="keyword">
  </div>
</div>

<app-movie-pager
  [productList]="allProduct$ | async | filter:'4':'catId' | filter:keyword:'name'">
</app-movie-pager> -->

<app-movie-list
  [productList]="allProduct$ | async | filter:'1':'catId' "
  [categoryDetails] = "categoryDetails"
>
</app-movie-list>
