.card-title {
  height: 50px !important;
  line-height: 50px !important;
}

.card-title p {
  font-size: 1.2rem;
  font-weight: 600;
  line-height: 1.5;
  display: inline-block;
  vertical-align: middle;
}

.myCard {
  width: 210px !important;
  height: 600px !important;
}

.myCardImageDiv {
  height: 230px !important;
  display: flex;
  align-items: center;
}


.myCardImage {
  max-height: 100% !important;
  max-width: 100% !important;
}


.card-body {
  padding: 10px !important;
}
