<div class="card myCard mr-3 mb-2">
  <div class="myCardImageDiv ">
    <img src="{{ movie.image }}" class="card-img-top myCardImage" alt="{{ movie.name }}">
  </div>
  <div class="card-body d-flex flex-column">
    <div class="card-title text-center">
      <p>{{ movie.name }}</p>
    </div>
    <p class="card-text ">{{ movie.description | textsorter:130}}</p>
    <div class="myCardFooter mt-auto text-center">

      <p class="card-text mb-2">Price: <span class="font-weight-bold">{{ movie.price }}$</span></p>
      <p class="card-text mb-0">Available until:</p>
      <span class="font-weight-bold"> {{ movie.stock }}</span>

      <a [href]="movie.link" class="btn btn-info btn-block mt-1">More info</a>
    </div>
  </div>
</div>
