<div class="card myCard mr-3">
  <!-- <img src="../../../assets/img/matrix.jpg" class="card-img-top" alt="Matrix"> -->
  <div class="myCardImageDiv ">
    <img src="{{ movie.image }}" class="card-img-top myCardImage" alt="Matrix">
  </div>
  <div class="card-body d-flex flex-column">
    <h5 class="card-title">{{ movie.name }}</h5>
    <p class="card-text ">{{ movie.description }}</p>
    <div class="myCardFooter mt-auto text-center">

      <p class="card-text">Price: <span class="font-weight-bold">{{ movie.price }}$</span></p>
      <p class="card-text mb-0">Available until:</p>
      <span class="font-weight-bold"> {{ movie.stock }}</span>

      <a href="#" class="btn btn-primary mt-3">Go somewhere</a>
    </div>
  </div>
</div>
