.myCard {
  width: 210px!important;
  height: 600px!important;
}

.myCardImageDiv {
  min-height: 210px!important;
  max-height: 210px!important;
  display: flex;
  align-items: center;
}

.card-body{
  padding: 10px!important;
}
