<p>Tesztoldal Józsinak</p>






<form #categorySelectForm="ngForm">


  <div class="row col-5">
    <div class="input-group mb-2">
      <div class="input-group-prepend">
        <label class="input-group-text" for="categorySelect">show by selected category</label>
      </div>
      <select name="cat" id="categorySelect" ngModel class="form-control">
        <!-- <option value="" disabled>Válassz kategóriát</option> -->
        <option value="">All category</option>
        <option *ngFor="let cat of allCategory$ | async" [ngValue]="cat">
          {{cat.name}}
        </option>
      </select>
    </div>
  </div>



  <div class="btn-group mb-2" role="group" aria-label="">
    <div class="input-group-prepend">
      <div class="input-group-text" id="">sort by ...</div>
    </div>
    <button type="button" class="btn btn-secondary" style="width: 6rem;" (click)="onColumnSelect('id')">
      #id
      <i *ngIf="!icon || icon > 2" class="fa fa-sort" aria-hidden="true"></i>
      <i *ngIf="icon === 1" class="fa fa-long-arrow-down" aria-hidden="true"></i>
      <i *ngIf="icon === 2" class="fa fa-long-arrow-up" aria-hidden="true"></i>
    </button>
    <button type="button" class="btn btn-secondary" style="width: 6rem;" (click)="onColumnSelect('name')">
      name
      <i *ngIf="!icon || icon < 3 || icon > 4" class="fa fa-sort" aria-hidden="true"></i>
      <i *ngIf="icon === 3" class="fa fa-long-arrow-down" aria-hidden="true"></i>
      <i *ngIf="icon === 4" class="fa fa-long-arrow-up" aria-hidden="true"></i>
    </button>
    <button type="button" class="btn btn-secondary" style="width: 6rem;" (click)="onColumnSelect('stock')">
      stock
      <i *ngIf="!icon || icon < 5 || icon > 6" class="fa fa-sort" aria-hidden="true"></i>
      <i *ngIf="icon === 5" class="fa fa-long-arrow-down" aria-hidden="true"></i>
      <i *ngIf="icon === 6" class="fa fa-long-arrow-up" aria-hidden="true"></i>
    </button>
    <button type="button" class="btn btn-secondary" style="width: 6rem;" (click)="onColumnSelect('price')">
      price
      <i *ngIf="!icon || icon < 7" class="fa fa-sort" aria-hidden="true"></i>
      <i *ngIf="icon === 7" class="fa fa-long-arrow-down" aria-hidden="true"></i>
      <i *ngIf="icon === 8" class="fa fa-long-arrow-up" aria-hidden="true"></i>
    </button>
  </div>


  <div class="row col-6">
    <div class="input-group mb-4">
      <div class="input-group-prepend">
        <span class="input-group-text" id="">search in</span>
      </div>
      <select class="form-control col-3" id="inputGroupSelect01" [(ngModel)]="filterKey"
        [ngModelOptions]="{standalone: true}">
        <option value="name" [defaultSelected]="filterKey">name</option>
        <option value="description">description</option>
        <option value="stock">stock</option>
        <option value="price">price</option>
      </select>

      <input [(ngModel)]="phrase" [ngModelOptions]="{standalone: true}" type="text " class="form-control">
      <button *ngIf="phrase" class="btn bg-transparent" style="margin-left: -40px; z-index: 100;" (click)="phrase=''">
        <i class="fa fa-times"></i>
      </button>


    </div>
  </div>











  <table class="table mt-3 ">
    <thead>


    </thead>
    <tbody>
      <!--
      <tr *ngFor=" let product of listOfCategorizedProducts | sorter:columnKey:sortDirection |filter:keyword:'name'">
        {{ allProduct$ | async | filter:'1':'catId' | json}}
      -->
      <tr
        *ngFor=" let product of allProduct$ | async | filter:(categorySelectForm.value['cat']['id'] | json):'catId' | sorter:columnKey:sortDirection | filter:phrase:filterKey">
        <td style="padding: 0" class="py-4">
          <app-data-detail [product$]="product"></app-data-detail>
        </td>

      </tr>
    </tbody>
  </table>

</form>



<!-- teszt  -->




<!-- <button class="btn btn-danger" (click)="dataCopy()">Copy</button> -->

{{formDisabler}}


<div class="container-fluid" style="border: 1px solid red;">

  <form *ngIf="product$ | async as product">
    <fieldset>
      <div class="d-flex flex-column flex-md-row">

        <div class="col-md-9" style="border: 1px solid green;">

          <form>
            <fieldset [disabled]="formDisabler">


              <div class="container form-row">

                <div class="form-group " style="max-width: 3.2rem;">
                  <label for="inputEmail4">#id</label>
                  <input [(ngModel)]="product.id" id="input_name" name="id" type="text" class="form-control text-center"
                    readonly>
                </div>

                <div class="form-group col-sm">
                  <label for="input_name">Name</label>
                  <input [(ngModel)]="product.name" id="input_name" name="name" type="text" class="form-control"
                    required>
                </div>

                <div class="form-group col-md-4">
                  <label for="inputState">Category</label>
                  <select name="catId" id="select_catId" class="form-control" [(ngModel)]="product.catId" #se>
                    <option *ngFor="let cat of allCategory$ | async" [selected]="cat.id === product.catId"
                      [value]="cat.id">
                      {{cat.name}}
                    </option>
                  </select>
                </div>
              </div>

              <div class="d-flex flex-column-reverse flex-md-row">
                <!-- <div class="d-flex flex-md-row flex-column"> -->

                <div class="flex form-group col-md-4 col-lg-3 mt-4 mt-md-3" style="border: solid 1px red">
                  <img src="./assets/img/{{product.image}}" class="img-fluid" alt="{{product.name}}">
                </div>

                <div class="flex col-md">
                  <div class="form-group">
                    <label for="text_featured">Description</label>
                    <textarea class="form-control" rows="4" id="text_featured" name="description"
                      [(ngModel)]="product.description"></textarea>
                  </div>


                  <div class="input-group">
                    <div class="input-group-prepend">
                      <span class="input-group-text">Link</span>
                    </div>
                    <input [(ngModel)]="product.link" id="text_link" name="link" type="text" class="form-control"
                      required>
                  </div>


                  <div class="custom-file mt-2">
                    <!-- <input type="file" class="custom-file-input" id="customFile"> -->
                    <input type="file" class="custom-file-input" id="file" [(ngModel)]="selectedImage"
                      [ngModelOptions]="{standalone: true}" (ngModelChange)="updateImageSource(editForm)" #file>
                    <label class="custom-file-label" for="customFile">Choose file</label>
                  </div>


                </div>

              </div>






































            </fieldset>









          </form>

        </div>



        <div class="col-md-3">

          <fieldset [disabled]="formDisabler">

            <div class="form-row">

              <div class="form-group col-sm-6 col-md-12 col-lg-6">
                <label>Stock</label>
                <input [(ngModel)]="product.stock" name="stock" type="text" class="form-control" required>
              </div>

              <div class="form-group col-sm-6 col-md">
                <label>Price</label>
                <div class="input-group">
                  <input [(ngModel)]="product.price" name="price" type="text" class="form-control" required>
                  <div class="input-group-append">
                    <span class="input-group-text">$</span>
                  </div>
                </div>
              </div>

            </div>

            <div class="row ml-4 pl-3 ml-md-2 pl-md-0">

              <div class="custom-control custom-switch col-6 col-md-12 col-lg-6">
                <input type="checkbox" class="custom-control-input" id="check_Active" name="active"
                  [(ngModel)]="product.active">
                <label class="custom-control-label" for="check_Active">Active</label>
              </div>

              <div class="custom-control custom-switch col-6 col-md">
                <input type="checkbox" class="custom-control-input" id="check_Featured" name="featured"
                  [(ngModel)]="product.featured">
                <label class="custom-control-label" for="check_Featured">Featured</label>
              </div>

            </div>

          </fieldset>

          <div class="d-flex flex-row flex-md-column flex-xl-row mt-4">
            <div class="col-6 col-md-12 col-xl-6">
              <button class="btn btn-primary btn-block" type="button" (click)="onEdit()">
                <i class="fa fa-pencil-square-o" aria-hidden="true"></i>
                Edit
              </button>
            </div>
            <div class="col-6 col-md-12 mt-md-2 col-xl-6 mt-lg-2 mt-xl-0">
              <button class="btn btn-primary btn-block" type="button">
                <i class="fa fa-eye" aria-hidden="true"></i>
                View
              </button>
            </div>
          </div>


          <fieldset [disabled]="formDisabler">

            <div class="d-flex flex-row flex-md-column flex-xl-row mt-2">
              <div class="col-6 col-md-12 col-xl-6">
                <button class="btn btn-primary btn-block" type="button">
                  <i class="fa fa-refresh" aria-hidden="true"></i>
                  Reset
                </button>
              </div>
              <div class="col-6 col-md-12 mt-md-2 col-xl-6 mt-lg-2 mt-xl-0">
                <button class="btn btn-primary btn-block" type="button">
                  <i class="fa fa-floppy-o" aria-hidden="true"></i>
                  Save
                </button>
              </div>
            </div>

            <div class="d-flex justify-content-center mt-2">
              <div class="col-6 col-md-12 col-xl-6 mt-xl-0">
                <button class="btn btn-primary btn-block" type="button">
                  <i class="fa fa-trash-o" aria-hidden="true"></i>
                  Delete
                </button>
              </div>
            </div>

          </fieldset>








        </div>



      </div>



    </fieldset>
  </form>

</div>







<!-- idáig tart az új  -->
<!-- idáig tart az új  -->
<!-- idáig tart az új  -->
<!-- idáig tart az új  -->
<!-- idáig tart az új  -->
<!-- idáig tart az új  -->
<!-- idáig tart az új  -->
<!-- idáig tart az új  -->
<!-- idáig tart az új  -->
<!-- idáig tart az új  -->
<!-- idáig tart az új  -->
<!-- idáig tart az új  -->

<div class="container">
  cxvyxcvyxcv
  <form>
    <fieldset [disabled]="formDisabler">
      <fieldset>

      </fieldset>

      <div class="form-row">
        <div class="form-group " style="max-width: 3.2rem;">
          <label for="inputEmail4">#id</label>
          <input type="email" class="form-control" id="inputEmail4" readonly>
        </div>
        <div class="form-group col-sm">
          <label for="inputEmail4">Name</label>
          <input type="email" class="form-control" id="inputEmail4">
        </div>
        <div class="form-group col-md-4">
          <label for="inputState">Category</label>
          <select id="inputState" class="form-control">
            <option selected>Choose...</option>
            <option>...</option>
            <option>...</option>
            <option>...</option>
          </select>
        </div>
      </div>

      <div class="d-flex flex-column-reverse flex-md-row">
        <!-- <div class="d-flex flex-md-row flex-column"> -->

        <div class="flex form-group col-md-3 col-lg-2" style="border: solid 1px red">
          <img src="./assets/img/1.jpg" class="img-fluid" alt="">



        </div>

        <div class="flex col-md">
          <div class="form-group">
            <label for="text_featured">Description</label>
            <textarea class="form-control" rows="4" id="text_featured" name="description">2</textarea>
          </div>
          <div class="form-group">
            <label for="text_link">Link</label>
            <input id="text_link" name="link" type="text" class="form-control" required>
          </div>
        </div>

      </div>
      <!-- </div> -->









    </fieldset>
  </form>

</div>

{{ categoryDetails | json}}

<br>
<br>
{{ catDetails | json}}
<br>
<br>
----
<br>

{{ allCategory$ | async | filter:'4':'id' | filter:'':'name' | json}}


<form #categorySelectForm="ngForm">
  <div class="row">
    <div class="col-4">
      <div class="form-group">
        <select name="cat" id="" ngModel>
          <option value="" disabled>Válassz kategóriát</option>
          <option value="">Mind az összes</option>
          <option *ngFor="let cat of allCategory$ | async" [ngValue]="cat">
            {{cat.name}}
          </option>

        </select>

      </div>
    </div>
  </div>

  <p>category.name: {{ categorySelectForm.value['cat']['name'] | json }}</p>
  <p>category.id: {{ categorySelectForm.value['cat']['id']}}</p>

  <table class="table table-striped mt-3">
    <thead>
      <tr>
        <th (click)="onColumnSelect('id')">#</th>
        <th (click)="onColumnSelect('name')">Name</th>
        <th>Category
          <div class="form-group">
            <select name="cat" id="" class="form-control">

            </select>
          </div>
        </th>
        <th (click)="onColumnSelect('featured')">Featured</th>
      </tr>
    </thead>
    <tbody>
      <!--
        <tr *ngFor=" let product of listOfCategorizedProducts | sorter:columnKey:sortDirection |filter:keyword:'name'">
          {{ allProduct$ | async | filter:'1':'catId' | json}}
        -->
      <tr
        *ngFor=" let product of allProduct$ | async | filter:(categorySelectForm.value['cat']['id'] | json):'catId' | sorter:columnKey:sortDirection | filter:keyword:'name'">
        <td>{{ product.id }}</td>
        <td>{{ product.name }}</td>
        <td>{{ product.catId }}</td>
        <td>{{ product.featured }}</td>
      </tr>
    </tbody>
  </table>

</form>

<!-- {{ allProduct$ | async | filter:'1':'catId' | json}} -->




{{ allCategory$ | async | json }}


<div class="row">
  <div class="col12">
    <table class="table table-striped">
      <thead>
        <tr>
          <th>#</th>
        </tr>
      </thead>
      <tbody>
        <tr>

        </tr>
      </tbody>
    </table>
  </div>
</div>

<!--
<summary>Category Service...</summary>

<h5>CategoryService</h5>

<h6 class="mt-3 text-info" >- allCategory()</h6>
{{ allCategory | json | textsorter:250 }} -->

<!-- <details>
  <h6 class="mt-3 text-info">- allCategoryName()</h6>
  {{ allCategoryName | json }}

  <h6 class="mt-3 text-info">- allCategoryName() | táblázatba olvasva</h6>
  <table class="table table table-bordered">
    <tr *ngFor="let catName of allCategoryName">
      <td class="pt-0 pb-0">{{ catName }}</td>
    </tr>
  </table>

  <table class="table table table-bordered">
    <tr *ngFor="let catName of allCategory ">
      <td class="pt-0 pb-0">{{ catName.name }}</td>
      <td class="pt-0 pb-0">{{ catName.description | textsorter:95 }}</td>
    </tr>
  </table>


</details>
 -->

<!-- {{ allProduct$ | async | filter:'1':'catId' | json}} -->

<h6 class="mt-3 text-info">- allCategoryName()</h6>
{{ oneProduct$ | async | json}}

<!-- {{ allProduct$ | async | numberrandom | json }} -->

<h6 class="mt-3 text-info">- allCategoryName() | táblázatba olvasva</h6>
<table class="table table table-bordered">
  <tr *ngFor="let catName of allCategory$ | async ">
    <td class="pt-0 pb-0">{{ catName.id  }}</td>
    <td class="pt-0 pb-0">{{ catName.name }}</td>
    <td class="pt-0 pb-0">{{ catName.description }}</td>
  </tr>
</table>

<!--
<section>
  <input  type="checkbox"  id="cb1" [(ngModel)]="proba" [checked]="true">
    <label for="cb1">Próba 1</label>



</section>
 -->
<!--
<h6 class="mt-3 text-info">- Táblázatban megjelenítendő Product kulcsok | csak egy darab tömbben kell megadni</h6>
<strong>{{ keys }}</strong>

<h6 class="mt-3 text-info">- A sorbarendezés iránya megfordítható | <span style="color: red">Az oszlopfejlécre kell kattintani</span> </h6>
<strong>{{sortDirection}}</strong>

<section>
  <h6 class="mt-3 text-info">- Keresés a film címére | az címek elejéről keres </h6>
  <label>Search movie:</label>
  <input type="text" class="form-control" [(ngModel)]="keyword" placeholder="Keresendő film címe...">
</section>

<table class="table table table-bordered mt-3">
  <thead>
    <tr>
      <th (click)="onColumnSelect(key)" *ngFor="let key of keys">{{ key | titlecase }}</th>
      <th>action</th>
    </tr>
  </thead>
    <tr *ngFor="let product of ( allProduct | sorter:columnKey:sortDirection | filter:keyword:'name')">
      <td *ngFor="let key of keys ">{{ product[key] | textsorter:55 }}</td>
    </tr>
  <tbody>
</table>
 -->

<table class="table table-striped mt-3">
  <!-- <thead>
    <tr>
      <th (click)="onColumnSelect('id')">#</th>
      <th (click)="onColumnSelect('name')">Name</th>
      <th>Category</th>
      <th (click)="onColumnSelect('featured')">Featured</th>
    </tr>
  </thead> -->
  <tbody>
    <!--
    <tr *ngFor=" let product of listOfCategorizedProducts | sorter:columnKey:sortDirection |filter:keyword:'name'">
      {{ allProduct$ | async | filter:'1':'catId' | json}}
     -->
    <tr
      *ngFor=" let product of allProduct$ | async | filter:'4':'catId' | sorter:columnKey:sortDirection | filter:keyword:'name'">
      <td>{{ product.id }}</td>
      <td>{{ product.name }}</td>
      <td>{{ product.catId }}</td>
      <td>{{ product.featured }}</td>
    </tr>
  </tbody>
</table>


<!--
<table class="table table table-bordered">
  <thead>
    <tr>
      <th (click)="onColumnSelect('id')">#</th>
      <th (click)="onColumnSelect('catId')">catId</th>
      <th (click)="onColumnSelect('name')">Name</th>
      <th (click)="onColumnSelect('description')">Description</th>
      <th (click)="onColumnSelect('price')">Price</th>
      <th (click)="onColumnSelect('stock')">Stock</th>
      <th (click)="onColumnSelect('features')">Features</th>
      <th (click)="onColumnSelect('active')">Active</th>
      <th>action</th>
    </tr>
  </thead>
    <tr *ngFor="let product of allProduct">
      <td>{{ product.id }}</td>
      <td>{{ product.cat }}</td>
    </tr>
  <tbody>
</table>
 -->
