<p>Tesztoldal Józsinak</p>

{{ array | json }}


.row>.col12>table.table>table-striped>thead>

<!--
<summary>Category Service...</summary>

<h5>CategoryService</h5>

<h6 class="mt-3 text-info" >- allCategory()</h6>
{{ allCategory | json | textsorter:250 }} -->

<!-- <details>
  <h6 class="mt-3 text-info">- allCategoryName()</h6>
  {{ allCategoryName | json }}

  <h6 class="mt-3 text-info">- allCategoryName() | táblázatba olvasva</h6>
  <table class="table table table-bordered">
    <tr *ngFor="let catName of allCategoryName">
      <td class="pt-0 pb-0">{{ catName }}</td>
    </tr>
  </table>

  <table class="table table table-bordered">
    <tr *ngFor="let catName of allCategory ">
      <td class="pt-0 pb-0">{{ catName.name }}</td>
      <td class="pt-0 pb-0">{{ catName.description | textsorter:95 }}</td>
    </tr>
  </table>


</details>
 -->

<!-- {{ allProduct$ | async | filter:'1':'catId' | json}} -->

<h6 class="mt-3 text-info">- allCategoryName()</h6>
{{ oneProduct$ | async | json}}

<!-- {{ allProduct$ | async | numberrandom | json }} -->

<h6 class="mt-3 text-info">- allCategoryName() | táblázatba olvasva</h6>
  <table class="table table table-bordered">
    <tr *ngFor="let catName of allCategory$ | async ">
      <td class="pt-0 pb-0">{{ catName.id  }}</td>
      <td class="pt-0 pb-0">{{ catName.name }}</td>
      <td class="pt-0 pb-0">{{ catName.description }}</td>
    </tr>
  </table>

<!--
<section>
  <input  type="checkbox"  id="cb1" [(ngModel)]="proba" [checked]="true">
    <label for="cb1">Próba 1</label>



</section>
 -->
<!--
<h6 class="mt-3 text-info">- Táblázatban megjelenítendő Product kulcsok | csak egy darab tömbben kell megadni</h6>
<strong>{{ keys }}</strong>

<h6 class="mt-3 text-info">- A sorbarendezés iránya megfordítható | <span style="color: red">Az oszlopfejlécre kell kattintani</span> </h6>
<strong>{{sortDirection}}</strong>

<section>
  <h6 class="mt-3 text-info">- Keresés a film címére | az címek elejéről keres </h6>
  <label>Search movie:</label>
  <input type="text" class="form-control" [(ngModel)]="keyword" placeholder="Keresendő film címe...">
</section>

<table class="table table table-bordered mt-3">
  <thead>
    <tr>
      <th (click)="onColumnSelect(key)" *ngFor="let key of keys">{{ key | titlecase }}</th>
      <th>action</th>
    </tr>
  </thead>
    <tr *ngFor="let product of ( allProduct | sorter:columnKey:sortDirection | filter:keyword:'name')">
      <td *ngFor="let key of keys ">{{ product[key] | textsorter:55 }}</td>
    </tr>
  <tbody>
</table>
 -->

 <table class="table table-striped mt-3">
  <!-- <thead>
    <tr>
      <th (click)="onColumnSelect('id')">#</th>
      <th (click)="onColumnSelect('name')">Name</th>
      <th>Category</th>
      <th (click)="onColumnSelect('featured')">Featured</th>
    </tr>
  </thead> -->
  <tbody>
    <!--
    <tr *ngFor=" let product of listOfCategorizedProducts | sorter:columnKey:sortDirection |filter:keyword:'name'">
      {{ allProduct$ | async | filter:'1':'catId' | json}}
     -->
    <tr *ngFor=" let product of allProduct$ | async | filter:'4':'catId' | sorter:columnKey:sortDirection | filter:keyword:'name'">
      <td>{{ product.id }}</td>
      <td>{{ product.name }}</td>
      <td>{{ product.catId }}</td>
      <td>{{ product.featured }}</td>
    </tr>
  </tbody>
</table>


<!--
<table class="table table table-bordered">
  <thead>
    <tr>
      <th (click)="onColumnSelect('id')">#</th>
      <th (click)="onColumnSelect('catId')">catId</th>
      <th (click)="onColumnSelect('name')">Name</th>
      <th (click)="onColumnSelect('description')">Description</th>
      <th (click)="onColumnSelect('price')">Price</th>
      <th (click)="onColumnSelect('stock')">Stock</th>
      <th (click)="onColumnSelect('features')">Features</th>
      <th (click)="onColumnSelect('active')">Active</th>
      <th>action</th>
    </tr>
  </thead>
    <tr *ngFor="let product of allProduct">
      <td>{{ product.id }}</td>
      <td>{{ product.cat }}</td>
    </tr>
  <tbody>
</table>
 -->


