<!-- <p>Tesztoldal Józsinak</p> -->

<form #categorySelectForm="ngForm">

  <div class="row col-5">
    <div class="input-group mb-2">
      <div class="input-group-prepend">
        <label class="input-group-text" for="categorySelect">show by selected category</label>
      </div>
      <select name="cat" id="categorySelect" ngModel class="form-control">
        <!-- <option value="" disabled>Válassz kategóriát</option> -->
        <option value="">All category</option>
        <option *ngFor="let cat of allCategory$ | async" [ngValue]="cat">
          {{cat.name}}
        </option>
      </select>
    </div>
  </div>

  <div class="btn-group mb-2" role="group" aria-label="">
    <div class="input-group-prepend">
      <div class="input-group-text" id="">sort by ...</div>
    </div>
    <button type="button" class="btn btn-secondary" style="width: 6rem;" (click)="onColumnSelect('id')">
      #id
      <i *ngIf="!icon || icon > 2" class="fa fa-sort" aria-hidden="true"></i>
      <i *ngIf="icon === 1" class="fa fa-long-arrow-down" aria-hidden="true"></i>
      <i *ngIf="icon === 2" class="fa fa-long-arrow-up" aria-hidden="true"></i>
    </button>
    <button type="button" class="btn btn-secondary" style="width: 6rem;" (click)="onColumnSelect('name')">
      name
      <i *ngIf="!icon || icon < 3 || icon > 4" class="fa fa-sort" aria-hidden="true"></i>
      <i *ngIf="icon === 3" class="fa fa-long-arrow-down" aria-hidden="true"></i>
      <i *ngIf="icon === 4" class="fa fa-long-arrow-up" aria-hidden="true"></i>
    </button>
    <button type="button" class="btn btn-secondary" style="width: 6rem;" (click)="onColumnSelect('stock')">
      stock
      <i *ngIf="!icon || icon < 5 || icon > 6" class="fa fa-sort" aria-hidden="true"></i>
      <i *ngIf="icon === 5" class="fa fa-long-arrow-down" aria-hidden="true"></i>
      <i *ngIf="icon === 6" class="fa fa-long-arrow-up" aria-hidden="true"></i>
    </button>
    <button type="button" class="btn btn-secondary" style="width: 6rem;" (click)="onColumnSelect('price')">
      price
      <i *ngIf="!icon || icon < 7" class="fa fa-sort" aria-hidden="true"></i>
      <i *ngIf="icon === 7" class="fa fa-long-arrow-down" aria-hidden="true"></i>
      <i *ngIf="icon === 8" class="fa fa-long-arrow-up" aria-hidden="true"></i>
    </button>
  </div>


  <div class="row col-6">
    <div class="input-group mb-4">
      <div class="input-group-prepend">
        <span class="input-group-text" id="">search in</span>
      </div>
      <select class="form-control col-3" id="inputGroupSelect01" [(ngModel)]="filterKey"
        [ngModelOptions]="{standalone: true}">
        <option value="name" [defaultSelected]="filterKey">name</option>
        <option value="description">description</option>
        <option value="stock">stock</option>
        <option value="price">price</option>
      </select>

      <input [(ngModel)]="phrase" [ngModelOptions]="{standalone: true}" type="text " class="form-control">
      <button *ngIf="phrase" class="btn bg-transparent" style="margin-left: -40px; z-index: 100;" (click)="phrase=''">
        <i class="fa fa-times"></i>
      </button>


    </div>
  </div>


  <button class="btn btn-primary" (click)="createNewItem()"><i class="fa fa-plus" aria-hidden="true"></i> Create new
      item</button>
  <app-data-create *ngIf="newItem"></app-data-create>


  <table class="table mt-3 ">
    <thead>

    </thead>
    <tbody>

      <tr
        *ngFor=" let product of allProduct$ | async | filter:(categorySelectForm.value['cat']['id'] | json):'catId' | sorter:columnKey:sortDirection | filter:phrase:filterKey">
        <td style="padding: 0" class="py-4">
          <app-data-detail [product]="product"></app-data-detail>
        </td>

      </tr>
    </tbody>
  </table>

</form>
