<div class="row">
  <table class="table table-striped mt-3">
    <thead>
      <tr>
        <th>#</th>
        <th>Name</th>
        <th>Category</th>
        <th>Price</th>
        <th>Stock</th>
        <th>Featured</th>
      </tr>
    </thead>
    <tbody>
      <tr *ngFor="let product of allProduct | async">
        <td>{{ product.id }}</td>
        <td>{{ product.name }}</td>
        <td>{{ product.catId }}</td>
        <td>{{ product.price }}</td>
        <td>{{ product.stock }}</td>
        <td>{{ product.featured }}</td>
        <button [routerLink]="['/', 'admin', 'data-editor', product.id]" class="btn btn-info mx-1 my-1">
          Modify
        </button>
      </tr>
    </tbody>
  </table>
</div>

