
.navbar {
  background-color: dodgerblue!important;
}

.nav-item {
  //jobbra kellene rendezni
  float: right!important;
}

.dropdown-menu {
  background-color: dodgerblue!important;
}
.dropdown-item:hover {
  color: black!important;
}
